form {
  width: 30rem;
  color: #fff;
}

.btn-cancel {
  padding: 5px 10px;
  background-color: #ff7777;
  color: #fff;
  margin-top: 20px;
}

.btn-save-user {
  padding: 5px 10px;
  background-color: #00a457;
  color: #fff;
  margin-top: 20px;
  &:hover {
    background-color: #0e6e41;
  }
}

input,
select {
  margin-bottom: 10px;
}

.validation {
  color: #ff7777;
}
